{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        {% block extrastyle %}
                   <style>
                    table {
                        border-spacing: 0; /* Menghilangkan jarak antar kolom dan baris */
                    }
                   </style>
        {% endblock extrastyle %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% block pre_loader %}
            {% include 'includes/preloader.html' %}
        {% endblock pre_loader %}

        <div class="wrapper">
            {% block sidebar %}
                {% include 'includes/sidebar.html' %}
            {% endblock sidebar %}
            <div class="main-panel">

                <!-- [ header ] start -->
                {% block header %}
                    {% include 'includes/navbar.html' %}
                {% endblock header %}
                <!-- [ header ] end -->
          
                <div class="container">
                    <div class="page-inner">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                        
                    {% block content %}{% endblock content %}
                    </div>
                </div>
      
                <!-- [ footer ] start -->
                {% block footer %}
                    {% include 'includes/footer.html' %}
                {% endblock footer %}
                <!-- [ footer ] end -->
            </div>
        </div>
        {% include 'includes/script.html' %}
        {% block extra_js %}
        <script >
            $(document).ready(function() {
                $('#basic-datatables').DataTable({
                });
    
                $('#multi-filter-select').DataTable( {
                    "pageLength": 5,
                    initComplete: function () {
                        this.api().columns().every( function () {
                            var column = this;
                            var select = $('<select class="form-select"><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                    );
    
                                column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                            } );
    
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    }
                });
    
                // Add Row
                $('#add-row').DataTable({
                    "pageLength": 5,
                });
    
                var action = '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';
    
                $('#addRowButton').click(function() {
                    $('#add-row').dataTable().fnAddData([
                        $("#addName").val(),
                        $("#addPosition").val(),
                        $("#addOffice").val(),
                        action
                        ]);
                    $('#addRowModal').modal('hide');
    
                });
            });
        </script>
        {% endblock extra_js %}
    </body>
</html>