{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
        {% block extrastyle %}
        <style>
        table {
            border-spacing: 0; /* Menghilangkan jarak antar kolom dan baris */
        }
        </style>
        {% endblock extrastyle %}
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        {% block pre_loader %}
            {% include 'includes/preloader.html' %}
        {% endblock pre_loader %}
        <div class="wrapper">
            {% block sidebar %}
                {% include 'includes/sidebar.html' %}
            {% endblock sidebar %}
            <div class="main-panel">
                <!-- [ header ] start -->
                {% block header %}
                    {% include 'includes/navbar.html' %}
                {% endblock header %}
                <!-- [ header ] end -->
                <div class="container">
                    <div class="page-inner">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% block content %}{% endblock content %}
                    </div>
                </div>
                <!-- [ footer ] start -->
                {% block footer %}
                    {% include 'includes/footer.html' %}
                {% endblock footer %}
                <!-- [ footer ] end -->
            </div>
        </div>
        {% include 'includes/script.html' %}
        {% block extra_js %}
        <script >
            $(document).ready(function() {
                // Add Row
                $('#add-row').DataTable({
                    columnDefs: [
                        {
                            targets: 0,        // Disable sorting for column 0
                            orderable: false   // Make the column unsortable
                        }
                    ],
                    order: [[1, 'asc']]
                });
            });
        </script>
        {% endblock extra_js %}
    </body>
</html>