
{% load static %}
<script src="{% static 'assets/paper-dashboard/js/core/jquery.min.js' %}"></script>
<!-- DataTables JS -->
<script src="{% static 'assets/DataTables/DataTables-1.13.8/js/jquery.dataTables.min.js' %}"></script>
<!-- DataTables Bootstrap JS -->
<script src="{% static 'assets/DataTables/DataTables-1.13.8/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('.myTable').DataTable({
        lengthMenu: [5, 10, 25, 50]
        });
    });
</script>
<script>
$(document).ready(function() {
    var table = $('.myTable1').DataTable({
        searching: false, // Disable search
        columnDefs: [
            {
                searchable: false,
                orderable: false,
                targets: 0 // Target the first column
            }
        ],
        order: [[1, 'asc']], // Order by the second column
        rowCallback: function(row, data, index) {
            // Add row number to the first column
            $('td:eq(0)', row).html(index + 1);
        }
    });
    

    $('.myTable1 tbody').on('change', 'input', function() {
        var row = $(this).closest('tr');
        var allInputsCompleted = true;
        row.find('input:not(#concatenatedValues)').each(function() {
            if ($(this).val() === '') {
                allInputsCompleted = false;
                return false; // Exit the loop early if any input field is empty
            }
        });

        var separator = '|';
        if (allInputsCompleted) {
            var concatenatedValue = '';
            row.find('input:not(#concatenatedValues)').each(function(index) {
                if (index > 0) {
                    concatenatedValue += separator;
                }
                concatenatedValue += $(this).val().replace(/,/g, ''); // Remove comma character;
            });
            concatenatedValue = 'VISION' + separator + concatenatedValue; // Add "VISION" before the first separator
            row.find('#concatenatedValues').val(concatenatedValue);
            row.find('.separator').text(separator).show();
        } else {
            row.find('#concatenatedValues').val('');
            row.find('.separator').text('').hide();
        }
    });

    $('#addRowBtn').on('click', function() {
        var newRow = [
            '',
            '<input class="form-control" type="text" placeholder="Enter Invoice Number" autocomplete="off" required>',
            '<input class="form-control numberInput" type="text" placeholder="Enter Amount Before Tax" autocomplete="off" required>',
            '<input class="form-control numberInput" type="text" placeholder="Enter Total Invoice Amount" autocomplete="off" required>',
            '<input class="form-control numberInput" type="text" placeholder="Enter Tax Amount" autocomplete="off" required>',
            '<input class="form-control" type="text" placeholder="Enter Tax Number" autocomplete="off" required>',
            '<input type="text" id="concatenatedValues" name="plainText" class="form-control" readonly>',
            '<a class="btn btn-danger deleteRowBtn">Delete</a>'
        ];
        var rowNode = table.row.add(newRow).draw().node();
        $(rowNode).find('.addRowBtn').hide();
        $(rowNode).find('.separator').hide(); // Hide the separator after adding a new row
    });

    $('.myTable1 tbody').on('click', '.deleteRowBtn', function() {
        var row = $(this).closest('tr');
        table.row(row).remove().draw();
    });
});
</script>
<script>
    $(document).ready(function(){
        $(".generate").click(function(){
            $(".thisRow1").hide();
            $(".thisRow2").hide();
            $(".thisRow3").show();
            $(".print").show();
            print();
            location.reload();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $(".new").click(function(){
            $("#fileListHeader").show();
            $("#processBtn").show();
            $(".thisRow2").hide();
        });
    });
</script>

<!-- automatically insert a comma after every three digits when typing numbers to represent thousands.  -->
<script>
    $(document).on('input', '.numberInput', function() {
        var value = $(this).val().replace(/[^\d.]/g, ''); // Remove non-numeric and non-decimal point characters
        var parts = value.split("."); // Split into integer and decimal parts
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ","); // Add commas for digit grouping in the integer part
        $(this).val(parts.join(".")); // Join the parts back together
    });
</script>