<!-- Sidebar -->
{% load static custom_filters %}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header bg-secondary">

            <a href="index.html" class="logo">
                <img src="{% static 'images/logo.png' %}" alt="navbar brand" class="navbar-brand" height="50">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>

        </div>
        <!-- End Logo Header -->	
    </div>	
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Main Menu</h4>
                </li>
                
                <li class="nav-item {% if request.path|startswith:'/qrvision/' %}active{% endif %}">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-qrcode"></i>
                        <p>QR Vision</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse {% if request.path|startswith:'/qrvision/' %}active{% endif %}">
                            <li>
                                <a href="{% url 'invoice_create_manual' %}">
                                    <span class="sub-item">Manual Input</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->